
.have-left-topic-border-container {
  @include flex(flex-start);

  span {
    display: inline-block;
    width: 6rpx;
    height: 20rpx;
    background-color: #32DA31;
    margin-top: -5rpx;
  }

  .content {
    // border-left: 6rpx solid $topic-color;
    padding-left: 16rpx;
    word-break:break-all;
  }
}

// 评论
.appraisal-container {
  padding: 40rpx;
  border-top: $searchItemTopBorder;
  @include flex(flex-start, flex-start);

  .appra-avatar {
    flex-shrink: 0;
    margin-right: 24rpx;
  }

  .appra-content {
    width: 100%;

    .appra-title {
      @include flex(space-between);

      .appra-name {

      }

      .appra-date {
        font-size: 13px;
        color: #9f9f9f;
      }
    }

    .appra-img-list {
      @include flex(space-between);
      margin-top: 20rpx;

      .appra-img-item {
        width:23vw;
        height:23vw;
      }
    }

    .appra-desc {
      margin-top: 30rpx;
    }
  }
}
