$topic-color: #32DA31;

$input-place-holder: #bfbfbf;

$title-color: #000000;
$content-color: #454545;
$search-input-border: #e9e9e9;

$navigateTitleBottomBorder: 1rpx solid #efefef;

$labelBackgroundColor: #E8FFE7;
$labelCommonColor: #FFB62E;
$labelCommonBackgroundColor: #FFFAF0;

$searchItemTopBorder: 1rpx solid #bfbfbf;
$searchTitleColor: #46311E;
